body{
    margin: 0px;
    min-height: 100vh;
    text-align: center;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: hsl(283, 0%, 95%);
}

header {
    padding: 10px;
    height: 140px;
    width: 100vw;
    background: hsl(283, 39%, 91%);
    border-bottom: 8px groove hsl(283, 39%, 95%);
}

h1 {
    font-size: 40px;
}

.title {
    font-size: 20px;
    margin-bottom: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.author {
    font-size: 16px;
    margin-bottom: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pages {
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-overflow: ellipsis;
}

.read {
    font-size: 16px;
    color: hsl(0, 0%, 30%);
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
}

.unreadSpan {
    color: hsl(0, 50%, 60%);
}

.read:hover {
    opacity: 0.6;
}

.book {
    width: 220px;
    height: 300px;
    background-color: ghostwhite;
    margin: 20px;
    border: 2px solid silver;
    position: relative;
    padding: 5px;
}

#bookshelf {
    max-width: 100vw;
    min-width: 100vw;
    margin: 20px;
    overflow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delete {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
}

.delete:hover {
    border: 2px solid darksalmon;
    background-color: lightcoral;
}

.formBox {
    display: none;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
}

.newBookForm {
    width: 260px;
    height: auto;
    margin: 20% auto;
    position: fixed;
    left: 0;
    right: 0;
    top: -10%;
    padding: 40px;
    font-size: 16px;
    background-color: white;
}

label {
    display: block;
    
}

input {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 1.5em;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


input[type="checkbox"] {
    margin: 0px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type="submit"] {
    margin: 10px 0px 20px 0px;
    width: 40%;
    font-size: 18px;
    height: 1.5em;
}

#readInput {
    margin-bottom: 20px;
}

@media (max-width: 500px){
    .book {
        width: 160px;
        height: 260px;
        margin: 10px;
    }

    .title {
        font-size: 18px;
    }
    
    .author {
        font-size: 16px;
    }
    
    .pages {
        font-size: 14px;
    }
    
    .read {
        font-size: 14px;
    }

    .newBookForm {
        top: 10%;
    }
}