body{
    margin: 0px;
    min-height: 100vh;
    text-align: center;
    max-width: 100vw;
    background-color: white;
}

header {
    padding: 10px;
    height: 140px;
    width: 100vw;
    background-color: floralwhite;
    border-bottom: 2px solid silver;
    box-shadow: 0px 0px 10px silver;
}

h1 {
    font-size: 40px;
}

.title {
    font-size: 20px;
}

.author {
    font-size: 18px;
}

.pages {
    font-size: 14px;
}

.read {
    font-size: 14px;
    color: hsl(0, 0%, 30%);
}

.unreadSpan {
    color: hsl(0, 50%, 60%);
}

.read:hover {
    opacity: 0.6;
}

.book {
    width: 220px;
    height: 300px;
    background-color: ghostwhite;
    margin: 20px;
    border: 2px solid silver;
    position: relative;
}

#bookshelf {
    max-width: 100vw;
    min-width: 100vw;
    margin: 20px;
    overflow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delete {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
}

.delete:hover {
    border: 2px solid darksalmon;
    background-color: lightcoral;
}

.formBox {
    display: none;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
}

.newBookForm {
    width: 260px;
    height: auto;
    margin: 20% auto;
    position: fixed;
    left: 0;
    right: 0;
    top: -5%;
    padding: 40px;
    font-size: 16px;
    background-color: white;
}

label {
    display: block;
    
}

input {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 1.5em;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


input[type="checkbox"] {
    margin: 0px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type="submit"] {
    margin: 10px 0px 20px 0px;
    width: 40%;
    font-size: 18px;
    height: 1.5em;
}

#readInput {
    margin-bottom: 20px;
}

@media (max-width: 500px){
    .book {
        width: 160px;
        height: 260px;
        background-color: beige;
        margin: 10px;
    }

    .title {
        font-size: 18px;
    }
    
    .author {
        font-size: 16px;
    }
    
    .pages {
        font-size: 14px;
    }
    
    .read {
        font-size: 14px;
    }
}